// shared
@import "shared/css/reset";
@import "shared/css/loader";


//  Variables
// ----------------------------------------------------------------------------------  //


// consts
$buttonSize: 50px;

// hot or not style guide
$text-dark: #2F2F2F;
$text-light-grey: #BBBBBB;
$border: #F0F0F0;
$btn-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);

// colors
$color-cold: #63A3ED;
$color-hot:#F6523C;


// Componenents
// ----------------------------------------------------------------------------------  //

// Main
/*@import "./styles/main";
@import "./styles/like";*/
// Modals




// Misc
// ----------------------------------------------------------------------------------  //

/*@import "./styles/cropper";*/

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
$font-family-base: 'Montserrat', 'Open Sans', 'San Francisco', 'Roboto', 'Arial', sans-serif;

input {
  color: #fff;
}

* {
  font-family: $font-family-base;
  font-weight: 400;
  word-wrap: break-word;
}

body {
  color: #fff;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica', 'San Francisco', 'Roboto', 'Arial', sans-serif;
}

.initial-load-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000000;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.announce {
  padding: 1em;
}

/* Preview section */

.announce--preview {
  margin-top: 1em;
  height: 210px;
}

.announce--preview--header,
.announce-feed--header {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  color: #666;
  text-align: center;
  margin-bottom: 1em;
}

.header--app-title {
}

.header--app-title--app-icon {
  width: 18px;
  border-radius: 4px;
  margin-right: 7px;
}

.header--text-preview {
  margin-left: 28px;
  text-transform: uppercase;
}

h1 {
  color:white;
  width: 100%; 
  font-size:24px;
  font-family:Montserrat;
  text-align:center;
  margin:100px auto 30px;
}

#phone {
  background: #000;
  border-radius: 30px 30px 0 0;
  left: 0;
  margin: 0 auto 0;
  padding: 70px 18px 68px 18px;
  position: absolute;
  right: 0;
  width: 90%;
  height: 180px;
  overflow: hidden;
}

#phone:before {
  background: #1f2b38;
  border-radius: 20px;
  content: '';
  height: 8px;
  left: 0;
  margin: -35px auto;
  position: absolute;
  right: 0;
  width: 45px;
}

#phone:after {
  background: #1f2b38;
  border-radius: 20px;
  content: "";
  display: block;
  height: 42px;
  left: 0;
  margin: 12px auto;
  position: absolute;
  right: 0;
  width: 42px;
}

#screen {
  background: #d6e6e9;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.viewport {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: #d6e6e9;
  position: absolute;
  width: 100%;
  height: 100%;
}

.first {
  z-index: 2;
  left: 0;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateY(0deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateY(0deg);
}

.last {
  z-index: 1;
  top: 400px;
}

.animate .last {
  top: 0;
}

.animate .first {
  -webkit-transform: rotateY(110deg);
  -moz-transform: rotateY(110deg);
}

.last .box.image {
  left: 240px;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.last .box.text {
  left: -240px;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.last .box.comment {
  bottom: -150px;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.animate .last .box.image {
  left: 0;
}

.animate .last .box.text {
  left: 0;
}

.animate .last .box.comment {
  bottom: 0;
}

.header {
  color: #ddebee;
  background: #55b5c9;
  font-family: Montserrat;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
}

.header span {
  float: right;
  background: #ddebee;
  color: #55b5c9;
  font-size: 11px;
  padding: 5px;
  margin-top: -3px;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 150px;  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px;
}

.content .box {
  margin: 0 0 15px;
  width: 100%;
  position:relative;
  background: #fcffff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 15px;
}

.box.image {
  font-size: 72px;
  color: #a9c8d8;
  text-align: center;
  line-height: 1;
}

.box.text {
  color: #bbe3c1;
  word-break:break-all;
  padding: 15px 15px 5px 15px;
}

.box.comment {
  overflow: hidden;
  padding: 0;
  background: #d6e6e9;
}

.avatar {
  float: left;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  color: #94d9ec;
  font-size: 32px;
  text-align: center;
  line-height: 70px;
}

.bubble {
  position: relative;
  float: right;
  width: 150px;
  height: 45px;
  background: white;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 14px;
  margin-left: -8px;
  bottom: auto;
  border-width: 8px 8px 8px 0px;
  border-color: transparent white;
}

.second .avatar {
  float: right;
}

.second .bubble {
  float: left;
}

.second .bubble:after {
  right: -8px;
  margin-left: 0;
  border-width: 8px 0px 8px 8px;
}

/* Input section */

.announce--input {
  text-align: center;
  margin-top: 1em;
}

.announce--input--text-entry {
  -webkit-appearance: none;
  font-weight: 700;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #000;
}

/* Share section */

.announce--share {
  text-align: center;
}

.announce--share--button {
  background-color: #888;
  padding: 1em 2em;
  border-radius: 8px;
  margin: 2em auto;
}

.announce--share--button img {
  width: 40px;
}

/* Feed section */

.announce-feed {
  width: 80%;
  margin: 0 auto 4em auto;
}

.announce-feed--item {
  margin-bottom: 1.4em;
}

.announce-feed--item--content--avatar,
.announce-feed--item--content--message,
.announce-feed--item--content--timestamp {
  display: inline-block;
}

.announce-feed--item--content--timestamp {
  float: right;
  margin-top: 7px;
  font-size: .8em;
  color: #888;
}

.announce-feed--item--content--avatar img {
  width: 32px;
  border-radius: 4px;
}

.announce-feed--item--reactions--item {
  margin: 5px 0 0 2em;
}

.announce-feed--item--reactions--item--header {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  color: #bbb;
  margin-bottom: 4px;
}

.announce-feed--item--reactions--item--avatar img {
  width: 24px;
  border-radius: 3px;
}

.announce-feed--item--reactions--item--avatar,
.announce-feed--item--reactions--item--check,
.announce-feed--item--reactions--item--message {
  display: inline-block;
}

.announce-feed--item--reactions--item--check img {
  width: 12px;
}
