//////////////////////////////////////////////////////////////////////////////////////////
// IMPORTS
@import "shared/css/reset";
@import "shared/css/mixins";
@import "shared/css/colors";
@import "shared/css/typography";
@import "shared/css/loader";

//////////////////////////////////////////////////////////////////////////////////////////
// ROOM STYLES

body {
  background: #5E71DD;
  color: $color-white;
}

.announce-header {
  text-align: center;
  width: calc-em(280px);
  margin: 0 auto;
  padding: calc-em(30px) 0;
}

.initial-load-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000000;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

//////////////////////////////////////////////////////////////////////////////////////////
// ANNOUNCE INPUT

.announce--item {
  width: 90%;
  max-width: calc-em(335px);
  border-radius: 16px;
  background: rgba(0,0,0,0.25);
  margin: 0 auto;
}

.announce--item-header {
  @extend .flex-row;
  height: calc-em(40px);
  background: rgba(0,0,0,0.25);
  width: 100%;
  border-radius: 16px 16px 0 0;
  .announce--item-avatar {
    width: calc-em(22px);
    height: calc-em(22px);
    background: $color-light-grey;
    border-radius: 6px;
    margin: calc-em(9px);
  }
  .announce--item-name {
    @extend .font-size-small;
    color: $color-white;
    flex: 1 0 auto;
  }
}

.announce--input--text-entry {
  @extend .font-size-default;
  background: none;
  -webkit-appearance: none;
  width: 100%;
  margin: 0 auto;
  color: $color-white;
  padding: calc-em(16px);
  border: 0;
  outline: 0;
  height: calc-em(90px);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.4);
}

.announce--share {
  text-align: center;
}

.announce--share--button {
  @extend .flex-row-center;
  @extend .font-size-default;
  width: calc-em(280px);
  background-color: #2cbf76;
  color: $color-white;
  text-transform: uppercase;
  padding: calc-em(16px);
  border-radius: 8px;
  margin: calc-em(20px) auto;
  span {
    flex: 1 0 auto;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// ANNOUNCE FEED

.announce-feed {
  margin: calc-em(20px) auto;
}

.announce-feed--header {
  width: 90%;
  max-width: calc-em(335px);
  @extend .font-size-small;
  overflow: hidden;
  text-align: center;
  margin: calc-em(25px) auto calc-em(25px);
  color: rgba(255,255,255,0.25);
}
.announce-feed--header:before,
.announce-feed--header:after {
  background-color: rgba(255,255,255,0.1);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.announce-feed--header:before {
  right: 1em;
  margin-left: -50%;
}
.announce-feed--header:after {
  left: 1em;
  margin-right: -50%;
}

.announce-feed--list {
  .announce--item {
    margin-bottom: calc-em(20px);
    opacity: 0.5;
  }
}

.announce--item-timestamp {
  padding-right: calc-em(9px);
  text-align: right;
  font-size: calc-em(12px);
  color: $color-white;
}

.announce--item-message {
  padding: calc-em(16px);
  color: $color-white;
  @extend .font-size-default;
}

.announce--item-reactions {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin: 0 calc-em(16px);
  padding-bottom: calc-em(15px);
}

.announce--item-reactions-header {
  @extend .font-size-small;
  color: rgba(255,255,255,0.5);
  margin: calc-em(8px) 0 calc-em(5px);
}

.announce--item-reaction-avatar {
  width: calc-em(36px);
  height: calc-em(36px);
  background: $color-light-grey;
  border-radius: 6px;
  margin: 0 calc-em(5px) calc-em(5px) 0;
}